@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --color1: hsl(0, 0%, 100%);
    --color2: hsl(212, 45%, 89%);
    --color3: hsl(220, 15%, 55%);
    --color4: hsl(218, 44%, 22%);
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--color2);
}

main#container {
    background-color: var(--color1);
    width: 300px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main#container img{
    width: 100%;
    border-radius: 10px;
}
div#text {
    text-align: center;
    padding: 10px 20px;
}
div#text h2 {
    font-weight: 700;
    color: var(--color4);
    margin-bottom: 20px;
}
div#text p {
    font-weight: 400;
    color: var(--color3);
    margin-bottom: 10px;
}